*{
    margin: 0;
    padding: 0;
    /* background-color: #0a121c; */
}
body{
    background-color: #0a121c;
    color: white;
}
.container{
    padding: 1rem;
}
.headerMain{
    /* border: 2px solid red; */
    text-transform: capitalize;
    display: flex;
    align-items: end;
    justify-content:space-between;
    gap: 3rem;
    flex-wrap: wrap;
}
.header{
    /* border: 2px solid red; */
    font-size: 30px;
    display: flex;
    align-items: end;
    font-weight:bold;
}
.leble2{
    font-size: small;
    color: rgb(112, 241, 6);
    font-style: italic;
}
.header img{
    width: 100px;
    height: 100px;
}
.inptAnadB{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.inputBoxs{
    border: 1px solid black;
    /* background-color: white; */
    display: flex;
    width: 30%;
    border-radius: 5px;
}
.cutB{
    border: none;
    padding: 10px;
    background-color: rgb(240, 240, 29);
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}
.searchB{
    border: none;
    background-color: rgb(230, 26, 26);
    padding: 10px;
    font-size: large;
    font-weight: 600;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    /* margin: 1rem; */
    font-size: 17px;
    font-weight:600;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
button{
    padding: 5px;
    background-color: white;
}
/* output sections */
.output{
    /* border: 1px solid blue; */
    margin-top: 1rem;
    height: 50vh;
}
.output .sect2{
    /* border: 1px solid black; */
    text-align: center;
    padding: 1rem;
}
@media(max-width:450px){
  .header{
    /* border: 2px solid red; */
    font-size: 20px;
    display: flex;
    /* align-items: end; */
}
.header img{
    width: 80px;
    height:80px;
}
.headerMain{
    display: flex;
    justify-content:space-between;
    /* border: 2px solid red; */
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    /* flex-wrap: wrap; */
}
.inputBoxs{
    width: 100%;
}

}